<h2 class="text-center" style="margin:0px" >      
    
    <div class="logo"><img src="./assets/images/Bata_login.png" alt="Bata Logo"></div></h2>

    <div class="main-login-test" >
             
        <div class="login-box-test">
        <div class="card border-0 rounded-0">
                      
        <form [formGroup]="resetForm"  class="mt-4" *ngIf="!change" >  
          
            <div class="batalogo"><img src="./assets/images/logo.png" alt="Logo"></div>
            <div class="login-text mb-3"  style=color:green;>Forgot Password :  {{b}} </div>
        <div class="form-group input-text-wrapper">
        <label for="Username">Email ID</label>
        <input type="text" class="field form-control" onKeyPress="if(this.value.length==50) return false;" formControlName="username" placeholder="EmailId" autocomplete="off"> 
        </div>
                 
    <div  class="button-holder " ><button class="btn btn btn-primary login_btn-test border-0 rounded-0 w-100 btn-primary btn-default .btn:disabled"  type="submit"  (click)="resetPassword()" [disabled]="resetForm.invalid">SUBMIT
        <div class="loader text-light" role="status" *ngIf="optionHide">
            <span class="sr-only">Loading...</span>
        </div>
    
    </button></div>
        </form>

        <form [formGroup]="passForm"  *ngIf="change" class="mt-4" >  
                  
            <div class="batalogo"><img src="./assets/images/logo.png" alt="Logo"></div>
            <div class="login-text mb-3"  style=color:green;>Change password :  {{b}}</div>
        <div class="form-group input-text-wrapper">
        <label for="password">New Password</label>
        <input type="password" class="field form-control" onKeyPress="if(this.value.length==50) return false;" formControlName="password" placeholder="Password" autocomplete="off"> 
        </div>
        <div class="form-group input-text-wrapper">
            <label for="newPassword">Comfirm Password</label>
            <input type="text" class="field form-control" onKeyPress="if(this.value.length==50) return false;" formControlName="newPassword" placeholder="NewPassword" autocomplete="off"> 
            </div>
      
              <div  class="button-holder " ><button class="btn btn btn-primary login_btn-test border-0 rounded-0 w-100 btn-primary btn-default .btn:disabled"  type="submit"  (click)="changePassword()" [disabled]="passForm.invalid">SUBMIT</button></div>
        </form>

        <div class="forgot-password text-center ft-14"  ><a routerLink="/loginpage">Go back to login page?</a></div>
        </div>
        </div>
        </div>


        <app-validation-message [message]="inputJson"></app-validation-message>
      

        
        
    
    