<app-header></app-header>
<main class="container rounded mt-3 p-3" style=line-height:3.5em >
    <div class="ribbon p-2 mb-3 rounded-top d-flex justify-content-between">
        <div class="nav-name" style='margin-left:12px'>  View & Download Media File</div>
        
    </div>

    
 
<form [formGroup]="inputform" id="validateForm">
    <div class="row" >
        <div class="col-md-2">
            <div class="form-group">
                <label for="training">File Name</label>
                <select class='form-control' formControlName="FileName">
                    <option value=''>--Select FileName-- </option>
                    <ng-container *ngFor="let filenamelist of filenameArray; ">
                      
                        <option  value={{filenamelist}}>{{filenamelist}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="training">File Format</label>
                <select class='form-control' formControlName="FileFormat">
                    <option value=''>--Select Fileformat-- </option>
                    <ng-container *ngFor="let formatlist of formatlistArray">
                        <option value={{formatlist}}>{{formatlist}}</option>
                    </ng-container>
                </select>
                <div class="error-box"><small class="error"><i class="fa fa-exclamation-triangle"
                            aria-hidden="true"></i>
                        Please Select Year</small></div>
            </div>
        </div>
        <div class="csv-upload flex">
            <div class="browse-upload">
            <div class="bu-box flex cursor">
                <label for="cnfpassword">Upload File</label>
              
                <input class="cursor" class="btn btn-success"  style ="margin-left: 16px; width: 210px;" type="file" id="file" (change)="handleChange($event)"
                #fileUpload>
               
            </div>
        </div>

    </div>

        <div class="col-md-3 mt-4" style="margin: 44px;">
            <button type="submit"  class="btn btn-primary btn-sm mt-1 mr-2"
                (click)="searchMediaFile()">Search</button>
                <button type="reset" (click)="resetPage()" class="btn btn-danger btn-sm mt-1" style='margin-left:12px'>Reset</button>
               
        </div>
    </div>
</form>
<div class="table-responsive" id="listing1" #listing1>
    <table class="table table-bordered" id="listing2">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Media Name</th>
                <th>Media Format</th>
                <th>View</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>{{FileName}}</td>
                <td>{{FileFormat}}</td>
                
                <td><button class="btn btn-primary btn-sm"
                        (click)="submitMedia()">Play</button></td>
            </tr>
            
        </tbody>
    </table>
</div>
</main>
<app-footer></app-footer>