

    <div class="flex addproduct-wrap">
        <div class="card ap-general">
            
            <div class="flex ap-body">
                <div class="ap-body-col">
                    <div class="form-group" style="display: grid;">
                        
                        <div class="csv-upload flex">
                                <div class="browse-upload">
                                <div class="bu-box flex cursor">
                                    <a style ="margin-left: 18px;"> Upload File</a>
                                    <input class="cursor"  *ngIf="!resetflag;" style ="margin-left: 16px;" type="file" id="file" (change)="handleChange($event)"
                                    #fileUpload>
                                   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form novalidate [formGroup]="user">
        <div class="row products-section" style="margin:unset">
            <div class="col-12">
                <div class="breadcrumbs-row noborder">
                    <div class="bc-col">
                    </div>
                    <div class="bc-col-btn ap-col-btn">
                     
                        <button style ="margin-left: 16px;" class="btn btn-primary btn-sm"  type="submit" (click)="onUpload(caption.value)" #caption>
                           
                            Save
                        </button>
                        <button style ="margin-left: 16px;" class="btn btn-primary btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
         
        </div>
    

</form>
