
<app-header></app-header>
<div class="row" >
  
        <div class="col-md-3">
            <div class="form-group">
                <label for="training">Party Code</label>
                <input type="text" class="form-control" [value]='j.partyCode'>


            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="training">Invoice No</label>
                <input type="text" class="form-control" [value]='j.invoiceNO'>

            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="training">Order No</label>
                    <input type="text" class="form-control" [value]='j.billOrderNo'>

                </div>
    
</div>


<app-footer></app-footer>