<div class="container">

    <button type="button" class="btn btn btn-primary login_btn border-0 rounded-0 w-10 btn-primary btn-default .btn:disabled" style='margin-right:16px' routerLink="/loginpage">Home</button>



    <button type="button" class="btn btn btn-primary login_btn border-0 rounded-0 w-10 btn-primary btn-default .btn:disabled" style='margin-right:16px' >Reports</button>

    <button type="button" class="btn btn-success" style='margin-right:16px'>History</button>
    <button type="button"  class="btn btn-success"  routerLink="/user" >User Pgae</button>
 
  </div>
