<h2 class="text-center" style="margin:0px">      
    
    <div class="logo"><img src="./assets/images/Bata_login.png" alt="Bata Logo"></div></h2>

    <div class="main-login-test" >
        
      
        <div class="login-box-test">
        <div class="card border-0 rounded-0">
       
        
        
        <form [formGroup]="loginForm"  class="mt-4">  
            <div class="error-box" style=color:red;>
                <div *ngIf="errorMsg"><small class="error"><i class="fa fa-exclamation-triangle"
                    aria-hidden="true"></i><strong>Error!</strong> {{errorMsgText}}</small></div>
                </div>
            <div class="batalogo"><img src="./assets/images/logo.png" alt="Logo"></div>
            <div class="login-text mb-3" style=color:green;>Bill Punching System <span style=color:blue;> Sign In   <button class="btn btn btn-primary login_btn-test border-0 rounded-0 w- btn-primary btn-default .btn:disabled"  type="submit"  (click)="loginSubmitWithGit()" [disabled]="loginForm.invalid">LOGIN WITH GIT

                <!-- <div class="loaderlogin text-light" role="status" *ngIf="optionHide">
            <span class="sr-only">Loading...</span>
        </div> -->
            </button></span> </div>
        <div class="form-group input-text-wrapper">
        <label for="Username">User Id</label>
        <input type="text" class="field form-control" onKeyPress="if(this.value.length==50) return false;" formControlName="username" placeholder="Username" autocomplete="off"> 
        </div>
        <div class="form-group input-text-wrapper">
        <label for="Password">Password</label>
        <input type="password" autocomplete="off" onKeyPress="if(this.value.length==15) return false;" class="field form-control" formControlName="password" placeholder="Password">
    </div>
        
    <div  class="button-holder " ><button class="btn btn btn-primary login_btn-test border-0 rounded-0 w-100 btn-primary btn-default .btn:disabled"  type="submit"  (click)="loginSubmit()" [disabled]="loginForm.invalid">LOGIN</button></div>
        </form>
        <div class="forgot-password text-center ft-14"  ><a (click)="getPassword('NO')" >Forgot Password?</a>
            <span>   Or
        </span> <a routerLink="/mappage">Google Map</a>
    </div>
       

        </div>
        </div>
        </div>

     
        
    
      
        
        
    
    