<app-header></app-header>
<main class="container rounded mt-3 p-3">
    <div style='margin-top: 20px;' class="ribbon p-2 mb-3 rounded-top d-flex justify-content-between">
        <div  style='margin-left:12px' class="nav-name">Manage User Designations</div>
    </div>
    <form [formGroup]="desigForm" (ngSubmit)="onSubmitEntryForm()" id="validateForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" style='margin-top: 20px;'>
                    <label for="desig">Designation</label>
                    <input id='desig' type="text" class="form-control" formControlName="desig">
                    <div class="error-box"><small class="error"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i>
                            Please Enter Valid Designation</small></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <ng-container *ngIf="create">
                <button type="submit" class="btn btn-primary btn-sm mr-2" [disabled]="!desigForm.valid">Create
                    Designation</button>
                <button type="reset" class="btn btn-primary btn-sm mr-2" style='margin-left: 12px;' (click)="resetDesigForm()">Reset</button>
            </ng-container>
            <ng-container *ngIf="!create">
                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onUpdateForm()">Update
                    Designation</button>
                <button type="button" class="btn btn-primary btn-sm mr-2" style='margin-left: 12px;' (click)="resetDesigForm()">Back</button>
            </ng-container>
        </div>
    </form>

    <div class="table-responsive mt-4" *ngIf="create">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of allData">
                    <td>{{b.userDegn}}</td>
                    <td><button type="submit" class="btn btn-primary btn-sm" (click)='updateDesig(b)'>Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<app-footer></app-footer>
<!-- <app-validation-message [message]="inputJson"></app-validation-message> -->