<h2 class="text-center" style="margin:0px" >      
    
    <div class="logo"><img src="./assets/images/Bata_login.png" alt="Bata Logo"></div></h2>

    <div class="main-login-test" >
             
        <div class="login-box-test">
        <div class="card border-0 rounded-0">
                      
        <form [formGroup]="otpForm"  class="mt-4" >  
          
            <div class="batalogo"><img src="./assets/images/logo.png" alt="Logo"></div>
          
        <div class="form-group input-text-wrapper">
            <div class="login-text mb-3"  style=color:green;>User Otp</div>
        <!-- <label for="userotp">User Otp</label> -->
        <input type="text" class="field form-control" onKeyPress="if(this.value.length==50) return false;" formControlName="userotp" placeholder="" autocomplete="off"> 
        </div>
                 
    <div  class="button-holder " ><button class="btn btn btn-primary login_btn-test border-0 rounded-0 w-100 btn-primary btn-default .btn:disabled"  type="submit"  (click)="getotp()" [disabled]="otpForm.invalid">Enter OTP</button></div>
    <div class="forgot-password text-center ft-14"  ><a routerLink="/loginpage">Go back to login page?</a></div>
        </form>

             
        </div>
        </div>
        </div>


        <app-validation-message [message]="inputJson"></app-validation-message>

        
        
    
    